* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Heebo", sans-serif;
    background-image: url(https://marketplace.canva.com/EAE9oAp-Byc/1/0/1600w/canva-fondo-de-pantalla-escritorio-pc-abstracto-moderno-degradado-negro-PriNvkfDEzU.jpg);
  }

  .header {
    display: flex;
    /* flex-start
      center
      flex-end */
    justify-content: flex-end;
    color: white;
  }

  .nav ul {
    display: flex;
    list-style: none;
    color: white;
  }

  .nav ul > li {
    padding: 15px;
  }

  .nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }

  .banner {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
  }

  .center{
    left: 1px;
  }

  .title {
    font-size: 3em;
    font-weight: 500;
  }

  .resume {
    width: 45%;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .btn-primary {
    background-color: #ff6464;
    color: #fff;
    border: none;
    padding: 15px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
  }

  .img-profile {
    width: 243px;
    height: 243px;
    border-radius: 50%;
  }

  .section-works {
    max-width: 800px;
    margin: auto;
  }

  .card {
    display: flex;
  }

  .card div img {
    width: 246px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }

  .text-works {
    font-size: 1em;
    margin-bottom: 30px;
    font-weight: 300;
  }

  .container-detail {
    margin-left: 20px;
    color: white;
  }

  .container-detail p {
    margin-top: 20px;
    width: 100% !important;
  }

  .label-dark {
    background-color: #142850;
    color: #fff;
    border-radius: 16px;
    padding: 5px 10px;
    font-weight: bold;
  }

  .text-light {
    color: #8695a4;
  }

  hr {
    height: 0.5px;
    background-color: #e0e0e0;
    border: 0.5px solid #e0e0e0;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .link-portafolio {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
  }

  .link-portafolio:hover {
    color: #ff6464;
    text-decoration: underline;
  }

  @media only screen and (max-width: 600px) {
    body {
      font-family: "Heebo", sans-serif;
      background-image: url(https://img.freepik.com/vector-gratis/fondo-hexagonal-oscuro-color-degradado_79603-1409.jpg?size=626&ext=jpg&ga=GA1.2.1787141001.1634342400);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .header {
      display: flex;
      /* flex-start
        center
        flex-end */
      justify-content: flex-end;
      color: white;
      justify-content: center;
    }

    .banner{
      position: relative;
      left: 50px;
      top: 50px;
      transform: translate(-50%-50%);
      display: flex;
      flex-direction: column;
      margin-bottom: 120px;
    }
  .img-profile{
    margin-top: 30px;

  }

  .section-works{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-works{
    color: white;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    


  }
  .container-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 19px 0;


  }
  .p{
    text-align: center;
  }

  .resume{
    text-align: center;

  }

  }
 
  